<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.documenter.mapper.ZcProcessMapper">

    <resultMap type="ZcProcess" id="ZcProcessResult">
        <result property="processId"    column="process_id"    />
        <result property="processCode"    column="process_code"    />
        <result property="processName"    column="process_name"    />
        <result property="processDesc"    column="process_desc"    />
        <result property="processStatus"    column="process_status"    />
        <result property="creationMethod"    column="creation_method"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastUpdateFlag"    column="last_update_flag"    />
    </resultMap>

    <sql id="selectZcProcessVo">
        SELECT
            zcp.process_id,
            zcp.process_code,
            zcp.process_name,
            zcp.process_desc,
            zcp.process_status,
            zcp.creation_method,
            zcp.remark1,
            zcp.remark2,
            zcp.remark3,
            zcp.remark4,
            zcp.remark5,
            zcp.create_by,
            zcp.create_time,
            zcp.update_by,
            zcp.update_time,
            zcp.last_update_flag,
            zcp.one_level_standard_time,
            zcp.one_level_person_charge,
            (SELECT u1.user_name FROM sys_user u1 WHERE u1.user_id = zcp.one_level_person_charge) AS oneLevelPersonChargeName,
            zcp.two_level_standard_time,
            zcp.two_level_person_charge,
            (SELECT u2.user_name FROM sys_user u2 WHERE u2.user_id = zcp.two_level_person_charge) AS twoLevelPersonChargeName,
            zcp.three_level_standard_time,
            zcp.three_level_person_charge,
            (SELECT u3.user_name FROM sys_user u3 WHERE u3.user_id = zcp.three_level_person_charge) AS threeLevelPersonChargeName
        FROM
            zc_process zcp
    </sql>

    <select id="selectZcProcessList" parameterType="ZcProcess" resultMap="ZcProcessResult">
        <include refid="selectZcProcessVo"/>
        <where>
            <if test="processName != null  and processName != ''"> and zcp.process_name like concat('%', #{processName}, '%')</if>
            <if test="processDesc != null  and processDesc != ''"> and  zcp.process_desc = #{processDesc}</if>
            <if test="processStatus != null  and processStatus != ''"> and  zcp.process_status = #{processStatus}</if>
            and zcp.delete_id = 0
        </where>
        order By zcp.create_time DESC
    </select>

    <select id="selectZcProcessByProcessId" parameterType="Long" resultMap="ZcProcessResult">
        <include refid="selectZcProcessVo"/>
        where  zcp.process_id = #{processId}
    </select>


    <delete id="deleteZcProcessByProcessId" parameterType="Long">
        delete from zc_process where process_id = #{processId}
    </delete>

    <delete id="deleteZcProcessByProcessIds" parameterType="String">
        UPDATE zc_process
        SET delete_id = 1
        WHERE process_id IN
        <foreach item="processId" collection="array" open="(" separator="," close=")">
            #{processId}
        </foreach>
    </delete>
</mapper>