<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.documenter.mapper.ZsProcessMapper">
    
    <resultMap type="ZsProcess" id="ZsProcessResult">
        <result property="processId"    column="process_id"    />
        <result property="processCode"    column="process_code"    />
        <result property="processName"    column="process_name"    />
        <result property="processDesc"    column="process_desc"    />
        <result property="processStatus"    column="process_status"    />
        <result property="creationMethod"    column="creation_method"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastUpdateFlag"    column="last_update_flag"    />
    </resultMap>

    <sql id="selectZsProcessVo">
        select process_id, process_code, process_name, process_desc, process_status, creation_method, remark1, remark2, remark3, remark4, remark5, create_by, create_time, update_by, update_time, last_update_flag from zs_process
    </sql>

    <select id="selectZsProcessList" parameterType="ZsProcess" resultMap="ZsProcessResult">
        <include refid="selectZsProcessVo"/>
        <where>  
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="processDesc != null  and processDesc != ''"> and process_desc = #{processDesc}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            and delete_id = 0
        </where>
    </select>
    
    <select id="selectZsProcessByProcessId" parameterType="Long" resultMap="ZsProcessResult">
        <include refid="selectZsProcessVo"/>
        where process_id = #{processId}
    </select>

    <insert id="insertZsProcess" parameterType="ZsProcess" useGeneratedKeys="true" keyProperty="processId">
        insert into zs_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processCode != null">process_code,</if>
            <if test="processName != null">process_name,</if>
            <if test="processDesc != null">process_desc,</if>
            <if test="processStatus != null and processStatus != ''">process_status,</if>
            <if test="creationMethod != null and creationMethod != ''">creation_method,</if>
            <if test="remark1 != null">remark1,</if>
            <if test="remark2 != null">remark2,</if>
            <if test="remark3 != null">remark3,</if>
            <if test="remark4 != null">remark4,</if>
            <if test="remark5 != null">remark5,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lastUpdateFlag != null">last_update_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processCode != null">#{processCode},</if>
            <if test="processName != null">#{processName},</if>
            <if test="processDesc != null">#{processDesc},</if>
            <if test="processStatus != null and processStatus != ''">#{processStatus},</if>
            <if test="creationMethod != null and creationMethod != ''">#{creationMethod},</if>
            <if test="remark1 != null">#{remark1},</if>
            <if test="remark2 != null">#{remark2},</if>
            <if test="remark3 != null">#{remark3},</if>
            <if test="remark4 != null">#{remark4},</if>
            <if test="remark5 != null">#{remark5},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lastUpdateFlag != null">#{lastUpdateFlag},</if>
         </trim>
    </insert>

    <update id="updateZsProcess" parameterType="ZsProcess">
        update zs_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="processCode != null">process_code = #{processCode},</if>
            <if test="processName != null">process_name = #{processName},</if>
            <if test="processDesc != null">process_desc = #{processDesc},</if>
            <if test="processStatus != null and processStatus != ''">process_status = #{processStatus},</if>
            <if test="creationMethod != null and creationMethod != ''">creation_method = #{creationMethod},</if>
            <if test="remark1 != null">remark1 = #{remark1},</if>
            <if test="remark2 != null">remark2 = #{remark2},</if>
            <if test="remark3 != null">remark3 = #{remark3},</if>
            <if test="remark4 != null">remark4 = #{remark4},</if>
            <if test="remark5 != null">remark5 = #{remark5},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lastUpdateFlag != null">last_update_flag = #{lastUpdateFlag},</if>
        </trim>
        where process_id = #{processId}
    </update>

    <delete id="deleteZsProcessByProcessId" parameterType="Long">
        delete from zs_process where process_id = #{processId}
    </delete>

    <delete id="deleteZsProcessByProcessIds" parameterType="String">
        UPDATE zs_process
        SET delete_id = 1
        WHERE process_id IN
        <foreach item="processId" collection="array" open="(" separator="," close=")">
            #{processId}
        </foreach>
    </delete>
</mapper>