<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.documenter.mapper.ZsUnitMapper">

    <resultMap type="com.zc.documenter.domain.ZsUnit" id="ZsUnitResult">
        <result property="unitId"    column="unit_id"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitDescription"    column="unit_description"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastUpdateFlag"    column="last_update_flag"    />
    </resultMap>

    <sql id="selectZsUnitVo">
        select unit_id, unit_code, unit_name, unit_description, remark1, remark2, remark3, remark4, remark5, create_by, create_time, update_by, update_time, last_update_flag from zs_unit
    </sql>

    <select id="selectZsUnitList" parameterType="com.zc.documenter.domain.ZsUnit" resultMap="ZsUnitResult">
        <include refid="selectZsUnitVo"/>
        <where>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitDescription != null  and unitDescription != ''"> and unit_description = #{unitDescription}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != ''"> and remark2 = #{remark2}</if>
            <if test="remark3 != null  and remark3 != ''"> and remark3 = #{remark3}</if>
            <if test="remark4 != null  and remark4 != ''"> and remark4 = #{remark4}</if>
            <if test="remark5 != null  and remark5 != ''"> and remark5 = #{remark5}</if>
             and delete_id = 0
        </where>
        order By create_time DESC
    </select>

    <select id="selectZsUnitByUnitId" parameterType="Long" resultMap="ZsUnitResult">
        <include refid="selectZsUnitVo"/>
        where unit_id = #{unitId}
    </select>

    <insert id="insertZsUnit" parameterType="com.zc.documenter.domain.ZsUnit" useGeneratedKeys="true" keyProperty="unitId">
        insert into zs_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="unitName != null and unitName != ''">unit_name,</if>
            <if test="unitDescription != null">unit_description,</if>
            <if test="remark1 != null">remark1,</if>
            <if test="remark2 != null">remark2,</if>
            <if test="remark3 != null">remark3,</if>
            <if test="remark4 != null">remark4,</if>
            <if test="remark5 != null">remark5,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lastUpdateFlag != null">last_update_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="unitName != null and unitName != ''">#{unitName},</if>
            <if test="unitDescription != null">#{unitDescription},</if>
            <if test="remark1 != null">#{remark1},</if>
            <if test="remark2 != null">#{remark2},</if>
            <if test="remark3 != null">#{remark3},</if>
            <if test="remark4 != null">#{remark4},</if>
            <if test="remark5 != null">#{remark5},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lastUpdateFlag != null">#{lastUpdateFlag},</if>
        </trim>
    </insert>

    <update id="updateZsUnit" parameterType="com.zc.documenter.domain.ZsUnit">
        update zs_unit
        <trim prefix="SET" suffixOverrides=",">
            <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
            <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
            <if test="unitDescription != null">unit_description = #{unitDescription},</if>
            <if test="remark1 != null">remark1 = #{remark1},</if>
            <if test="remark2 != null">remark2 = #{remark2},</if>
            <if test="remark3 != null">remark3 = #{remark3},</if>
            <if test="remark4 != null">remark4 = #{remark4},</if>
            <if test="remark5 != null">remark5 = #{remark5},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lastUpdateFlag != null">last_update_flag = #{lastUpdateFlag},</if>
        </trim>
        where unit_id = #{unitId}
    </update>

    <delete id="deleteZsUnitByUnitId" parameterType="Long">
        delete from zs_unit where unit_id = #{unitId}
    </delete>


    <delete id="deleteZsUnitByUnitIds" parameterType="String">
        UPDATE zs_unit
        SET delete_id = 1
        WHERE unit_id IN
        <foreach item="unitId" collection="array" open="(" separator="," close=")">
            #{unitId}
        </foreach>
    </delete>
</mapper>