<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.organization.mapper.ZcRouteLineMapper">

    <resultMap type="ZcRouteLine" id="ZcRouteLineResult">
        <result property="routeLineId"    column="route_line_id"    />
        <result property="routeHeadId"    column="route_head_id"    />
        <result property="processId"    column="process_id"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastUpdateFlag"    column="last_update_flag"    />
    </resultMap>

    <sql id="selectZcRouteLineVo">
        select route_line_id, route_head_id, process_id, sort_order, create_by, create_time, updated_by, update_time, last_update_flag from zc_route_line
    </sql>

    <select id="selectZcRouteLineList" parameterType="ZcRouteLine" resultMap="ZcRouteLineResult">
        <include refid="selectZcRouteLineVo"/>
        <where>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="updatedBy != null "> and updated_by = #{updatedBy}</if>
        </where>
    </select>

    <select id="selectZcRouteLineByRouteLineId" parameterType="Long" resultMap="ZcRouteLineResult">
        <include refid="selectZcRouteLineVo"/>
        where route_line_id = #{routeLineId}
    </select>

    <insert id="insertZcRouteLine" parameterType="ZcRouteLine" useGeneratedKeys="true" keyProperty="routeLineId">
        insert into zc_route_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeHeadId != null">route_head_id,</if>
            <if test="processId != null">process_id,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lastUpdateFlag != null">last_update_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routeHeadId != null">#{routeHeadId},</if>
            <if test="processId != null">#{processId},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lastUpdateFlag != null">#{lastUpdateFlag},</if>
        </trim>
    </insert>

    <update id="updateZcRouteLine" parameterType="ZcRouteLine">
        update zc_route_line
        <trim prefix="SET" suffixOverrides=",">
            <if test="routeHeadId != null">route_head_id = #{routeHeadId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lastUpdateFlag != null">last_update_flag = #{lastUpdateFlag},</if>
        </trim>
        where route_line_id = #{routeLineId}
    </update>

    <delete id="deleteZcRouteLineByRouteLineId" parameterType="Long">
        delete from zc_route_line where route_line_id = #{routeLineId}
    </delete>

    <delete id="deleteZcRouteLineByRouteLineIds" parameterType="String">
        delete from zc_route_line where route_line_id in
        <foreach item="routeLineId" collection="array" open="(" separator="," close=")">
            #{routeLineId}
        </foreach>
    </delete>
</mapper>